
body {
    background-color: white;

}

nav a {
    color: rgba(0, 0, 0, .87);
    font: 13px/27px Roboto, Arial, sans-serif;
    line-height: 24px;
    text-decoration: none;
}

nav a:hover {
    color: rgba(0, 0, 0, .87);
    font: 13px/27px Roboto, Arial, sans-serif;
    line-height: 24px;
    text-decoration: underline;
}